{% extends './base.html' %}
{% block title %}Editando - {{patient.nombre}} {{patient.apellido}}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar paciente</h2>
        <div class="card">
            <div class="card-body">
                <form action="/procesar-edicion/{{patient.id}}" method="POST">
                    {% csrf_token %}
                    <div class="form-group py-1">
                        <label for="nombre">Nombre</label>
                        <input
                            type="text"
                            id="nombre"
                            name="nombre"
                            value="{{patient.nombre}}"
                            class="form-control"
                            placeholder="Nombre"
                            required
                        />
                    </div>
                    <div class="form-group py-1">
                        <label for="apellido">Apellido</label>
                        <input
                            type="text"
                            id="apellido"
                            name="apellido"
                            value="{{patient.apellido}}"
                            class="form-control"
                            placeholder="Apellido"
                            required
                        />
                    </div>
                    <div class="form-group py-1">
                        <label for="dni">DNI</label>
                        <input
                            type="text"
                            id="dni"
                            name="dni"
                            value="{{patient.dni}}"
                            class="form-control"
                            placeholder="DNI"
                            required
                        />
                    </div>
                    <div class="form-group py-1">
                        <div>
                            <label for="sexo">Sexo</label>
                        </div>
                        <input
                            type="radio"
                            id="femenino"
                            value="F"
                            name="sexo"
                            required
                            {% if patient.sexo == 'F' %}
                            checked="checked"
                            {% endif %}
                        />
                        <label for="femenino">Femenino</label>
                        <input
                            type="radio"
                            id="masculino"
                            value="M"
                            name="sexo"
                            required
                            {% if patient.sexo == 'M' %}
                            checked="checked"
                            {% endif %}
                        />
                        <label for="masculino">Masculino</label>
                    </div>
                    <div class="form-group py-1">
                        <label for="email">Email</label>
                        <input
                            type="text"
                            id="email"
                            name="email"
                            value="{{patient.email}}"
                            class="form-control"
                            placeholder="Email"
                            required
                        />
                    </div>
                    <div class="form-group py-1">
                        <label for="fecha_de_nacimiento">Fecha de nacimiento</label>
                        <input
                            type="date"
                            id="fecha_de_nacimiento"
                            name="fecha_de_nacimiento"
                            value="{{patient.fecha_de_nacimiento}}"
                            class="form-control"
                            required
                        />
                    </div>
                    <div class="form-group py-1">
                        <label for="cobertura_medica">Cobertura médica</label>
                        <input
                            type="text"
                            id="cobertura_medica"
                            name="cobertura_medica"
                            value="{{patient.cobertura_medica}}"
                            class="form-control"
                            placeholder="Cobertura médica"
                            required
                        />
                    </div>
                    <div class="form-group py-1 d-grid gap-2">
                        <button type="submit" class="btn btn-success">
                            Guardar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
