<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de {{ patient.nombre }} {{ patient.apellido }}</title>
</head>
<body>
    <h1>Detalle de paciente</h1>
    <p>Nombre: {{ patient.nombre }}</p>
    <p>Apellido: {{ patient.apellido }}</p>
    <p>DNI: {{ patient.dni }}</p>
    <p>Email: {{ patient.email }}</p>
    <p>Fecha de nacimiento: {{ patient.fecha_de_nacimiento }}</p>
    <p>Sexo: {{ patient.sexo }}</p>
    <p>Cobertura médica: {{ patient.cobertura_medica }}</p>
</body>
</html>